<% provide(:title, 'My Groups') %>
<h1> MY SUBJECTS </h1>



<ul class="users">
<% @subjects.each do |sub| 

 @locations.each do |loc| 

@myusers= loc.users & sub.users
%>
<li>
<%= sub.title %> -- <%= loc.title %> <%= @myusers.length %> 
<li><%= link_to "see details", "/onegroup/#{sub.id}/#{loc.id}" %></li>
</li>

<% end %>
<% end %>




</ul>

