<% provide(:title, @subject.title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        
        <%= @subject.title %>
      </h1>
    </section>
    <section>
      
    </section>
  </aside>



  <div class="span8">

    <%= render 'follow_form' if signed_in? %>


    
  </div>


  
</div>